.modal-dialog {
    width: 340px !important;
    color: whitesmoke;
}

.modal-content {
    background-color: #6699ff !important;
    text-align: left;
}

.modal-body {
    margin-left: auto;
    margin-right: auto;
    word-wrap: break-word;
}

#mod-view-title {
    font-weight: bold;
}