body {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('https://images.pexels.com/photos/544115/pexels-photo-544115.jpeg');
}
.superhead {
    font-size: 20px;
    text-align: center

}

.content-header {
    text-decoration: underline;
    font-size: 30px;
    font-family: 'Artifika', serif;
}