body {
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    background-image: url('https://images.pexels.com/photos/544115/pexels-photo-544115.jpeg');
    box-sizing: border-box;
}

#topbar a:link {
    color: whitesmoke;
    text-decoration: none;
}

#topbar a:visited {
    color: whitesmoke;
    text-decoration: none;
}

a:hover {
    color: cornflowerblue;
    text-decoration: none;
}

#main-container {
/*    opacity: 0.8; it causes that bootstrap modal doesn't close itself */
}

/*styles registration form*/
.form-container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    width: 400px;
    background-color: white;
    opacity: 0.8;
    padding: 15px;
    border-radius: 15px;
}


#content-wrapper {
    display: flex;
    justify-content: center;
    /*flex-direction: row;*/
    margin-top: 200px;
}

.content-header {
    text-decoration: underline;
    font-size: 30px;
    font-family: 'Artifika', serif;
}

#add-note-button {
    width: 450px;
    height: 50px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
}

.note-on-list-wrapper {
    width: 450px;
    height: 50px;
    background-color: cornflowerblue;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    padding: 5px;
    display: block;
}

.note-on-list {
    display: flex;
    flex-direction: row;
}

.note-on-list h4 {
    margin: 5px;
}

.button-view {
    width: 65px;
    margin-left: auto;
    margin-right: 2px;
    margin-bottom: 12px;
}

.button-delete {
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 8px;
}

#button-edit {
    margin-bottom: 10px;
    margin-right: 20px;
    margin-left: auto;

}

.button-delete button, .button-view button {
    font-size: 17px;
}

input {
    display: block;
    box-sizing: border-box;
}

.viewer {
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    padding: 20px;
    background-color: lightblue;
    font-family: Calibri;
    width: 250px;
    height: 300px;
    border-radius: 15px;
    border-color: #555555;
    border-width: 3px;
}

.center {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
}

#topbar {
    background-color: darkblue;
    width: 100%;
    height: 70px;
    box-shadow: 3px 5px 40px #313138;
    color: rgb(189, 220, 255);
    display: flex;
    font-size: 20px;
}

#brand {
    width: 400px;
    height: 70px;
    padding: 10px;
    box-sizing: border-box;
}

#searchbox {
    width: 500px;
    height: 70px;
    padding: 10px;
    margin: auto;
    box-sizing: border-box;
}

#searchbox input {
    font-size: 30px;
    width: 400px;
    height: 50px;
    background-color: #6699ff;
}

#searchbox input::placeholder {
    color: black;
}

#searchbox button {
    height: 50px;
    width: 65px;
    text-align: center;
    background-color: darkblue;
    border-style: solid;
    border-color: #6699ff;
    border-width: 3px;
    font-size: 25px;
    color: whitesmoke;
}

#user-info {
    display: flex;
    width: 250px;
    height: 70px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 35px;
}

#username {
    margin-left: 15px;
    margin-right: 15px;
}

#avatar {
    margin-left: 15px;
    margin-right: 15px;
    border-style: solid;
    border-color: #6699ff;
    border-width: 3px;
    padding: 3px 0px;
}

#logout {
    margin-left: 15px;
    margin-right: 15px;
    display: block;
}

.message-container {
    margin-left: 10%;
    margin-right: auto;
    margin-top: 10%;
    width: 400px;
    opacity: 0.8;
    padding: 25px;
    border-radius: 15px;
    background-color: aliceblue;
}