body {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('https://images.pexels.com/photos/544115/pexels-photo-544115.jpeg');
}

#main-container {
    opacity: 0.8;
}

#add-form-container {
    margin: 30px;
}

.content-header {
    text-decoration: underline;
    font-size: 30px;
    font-family: 'Artifika', serif;
}

.card-container {
    width: 250px;
    background-color: cornflowerblue;
    margin-bottom: 15px;
    margin-left: 150px;
    border-radius: 15px;
    padding: 10px;
}

input {
    display: block;
    box-sizing: border-box;
}

.viewer {
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    padding: 20px;
    background-color: lightblue;
    font-family: Calibri;
    width: 250px;
    height: 300px;
    border-radius: 15px;
    border-color: #555555;
    border-width: 3px;
}

.center {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
}

#topbar {
    background-color: darkblue;
    width: 100%;
    height: 70px;
    box-shadow: 3px 5px 40px #313138;
    color: rgb(189, 220, 255);
    display: flex;

}

#brand {
    background-color: rgb(92, 92, 255);
    width: 250px;
    height: 70px;
    padding: 10px;
    box-sizing: border-box;
}

#searchbox {
    background-color: rgb(151, 151, 255);
    width: 400px;
    height: 70px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}

#user-info {
    display: flex;
    background-color: rgb(92, 92, 255);
    width: 250px;
    height: 70px;
    padding: 10px;
    box-sizing: border-box;
}