    <div class="container" xmlns:th="http://www.thymeleaf.org" th:fragment="find">
        <form class="form-inline mr-auto" method="get" th:action="@{/find}" th:object="${noteDto}">
            <div th:unless="${#lists.isEmpty(foundNotes)}">
                <h3>Search Results:</h3>
                <table class="table table-striped">
                    <tr>
                        <th>Note title</th>
                    </tr>
                    <tr th:each="noteDto: ${foundNotes}">
                        <td th:text="${noteDto.noteTitle}">note title</td>
                    </tr>
                </table>
            </div>
        </form>
    </div>