<div id="notes-list-wrapper" xmlns:th="http://thymeleaf.org" th:fragment="notes-list">
    <script>
    function submitViewForm() {
    document.getElementById("view-form").submit();
    }
    </script>
    <div id="add-note-button"><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add-modal">
        New +
    </button></div>
    <div th:each="n : ${notes}" class="note-on-list-wrapper">

            <div class="note-on-list">
                <h4 th:text="${n.getNoteTitle()}"></h4>
                <!--BUTTONS-->
                <div class="button-view">
                    <form id="view-form" action="/view-modal" method="get">
                        <input type="hidden" th:value="${n.getId()}" name="viewNoteId">
<!--                        TODO: find out how to use js and spring in the same button-->
<!--                        <button class="btn btn-info" data-toggle="modal" data-target="#view-modal" type="button" onclick="submitViewForm()">View</button>-->
                        <button class="btn btn-info" data-toggle="modal" data-target="#view-modal" type="button">View</button>
                    </form>
                </div>
                <!--<form action="/edit" method="get">-->
                <!--<input type="hidden" th:value="${n.getId()}" name="editNoteId" />-->
                <!--<button class="btn btn-info" type="submit">Edit</button>-->
                <!--</form>-->
                <div class="button-delete">
                    <form action="/delete" method="get">
                        <input type="hidden" th:value="${n.getId()}" name="delNoteId">
                        <button class="btn btn-danger fas fa-trash-alt" type="submit"></button>
                    </form>
                </div>

                <!--BUTTONS-->

            </div>

    </div>


</div>