<div id="notes-list-wrapper" xmlns:th="http://thymeleaf.org" th:fragment="notes-list">
    <div th:each="n : ${notes}" class="note-on-list-wrapper">
        <!--<div class="card" style="margin: auto;">-->
            <div class="note-on-list">
                <h4 th:text="${n.getNoteTitle()}"></h4>
                <!--BUTTONS-->
                <div class="button-view">
                    <form action="/view" method="get">
                        <input type="hidden" th:value="${n.getId()}" name="viewNoteId">
                        <button class="btn btn-info" type="submit">View</button>
                    </form>
                </div>
                <!--<form action="/edit" method="get">-->
                <!--<input type="hidden" th:value="${n.getId()}" name="editNoteId" />-->
                <!--<button class="btn btn-info" type="submit">Edit</button>-->
                <!--</form>-->
                <div class="button-delete">
                    <form action="/delete" method="get">
                        <input type="hidden" th:value="${n.getId()}" name="delNoteId">
                        <button class="btn btn-danger fas fa-trash-alt" type="submit"></button>
                    </form>
                </div>

                <!--BUTTONS-->

            </div>
        <!--</div>-->

    </div>
</div>