    <div id="topbar" xmlns:th="http://thymeleaf.org" th:fragment="topbar">
        <div id="brand">
                Welcome in <span class="content-header">Notes-app</span>
        </div>
        <div id="searchbox">
            Search
        </div>
        <div id=user-info>
            <div>
                <p th:text="${message}"></p>
            </div>
            <div>
                user<br/>pic
            </div>
            <div>
                <i class="far fa-power-off"></i>
                <a href="/logout"><p>logout</p></a> <br>
            </div>
        </div>
    </div>
