<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head"></head>
<body>
<div class="container" xmlns:th="http://thymeleaf.org">
    <!--<div>-->
        <!--<a href="#" class="list-group-item list-group-item-action list-group-item-success">Note added.</a>-->
    <!--</div>-->
    <form th:action="@{/edit}" th:object="${editedNote}" method="post" action="/edit">
        <p><input type="text" name="noteCategory" value="${}"/></p>
        <p><textarea type="text" rows="20" cols="90" name="noteContent" placeholder="Your note"></textarea></p>
        <p><button class="btn btn-sm btn-success" type="submit">Edit</button></p>
    </form>
    <a href="/">Home page</a>
</div>
</body>
</html>