<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head"></head>
<body>
        <div class="container viewer" style="width: 250px">
            <form action="#" th:action="@{/update}" th:object="${noteToEdit}" method="post">
                <input type="text" th:field="*{noteTitle}"/>
                <!--                <label>Category</label>-->
                <!--                <input type="text" th:field="*{noteCategory}"/>-->
                <textarea type="text" th:field="*{noteContent}"></textarea>

                <input type="hidden" th:value="${noteToEdit.getId()}" name="updateNoteId" />
                <button class="btn btn-info" type="submit">Save</button>
            </form>
            <a href="/">Cancel edit</a>
        </div>
    </body>
</html>