<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head"></head>
<body>
        <div class="container">

            <form action="#" th:action="@{/update/{id}(id=${noteToEdit.id})}" th:object="${noteToEdit}" method="post">
<!--            <form action="#" th:action="@{/update}" th:object="${noteToEdit}" method="post">-->
                <label>Title</label>
                <input type="text" th:field="*{noteTitle}"/>
                <label>Category</label>
                <input type="text" th:field="*{noteCategory}"/>
                <label>Content</label>
                <textarea type="text" th:field="*{noteContent}"></textarea>
                <input type="submit" value="Edit" class="btn btn-info"/>
            </form>
            <a href="/">Home page</a>
        </div>
    </body>
</html>