<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head"></head>
<body>
<div id="main-container">
<header class="superhead">
            Welcome in <span class="content-header">Notes-app</span>
</header>

<a href="/add">Add a note</a>
<div style="display: flex; flex-direction: row;">
    <div id="cards-wrapper">
        <div th:each="n : ${notes}" class="card-container">
            <div class="card" style="margin: auto;">
                <img class="card-img-top" src="polaroid_2X.png" width="150" height="150" alt="Card image">
                <div class="card-body">
                    <h4 class="card-title" th:text="${n.getNoteTitle()}"></h4>
                    <p class="card-text" th:text="${n.getNoteContent()}"></p>

                    <!--BUTTONS-->
                    <div style="display: flex; flex-direction: row;">
                        <form action="/view" method="get">
                            <input type="hidden" th:value="${n.getId()}" name="viewNoteId">
                            <button class="btn btn-info" type="submit">View</button>
                        </form>
                        <!--<form action="/edit" method="post">-->
                            <!--<input type="hidden" th:value="${n.getNoteTitle()}" name="noteTitle" />-->
                            <!--<button class="btn btn-info" type="submit">Edit</button>-->
                        <!--</form>-->
                        <a th:href="@{/edit/{id}(id=${n.getId()})}" class="btn btn-info" role="button">Edit</a>


                        <form action="/delete" method="get">
                            <input type="hidden" th:value="${n.getId()}" name="delNoteId">
                            <button class="btn btn-danger" type="submit">Delete</button>
                        </form>
                    </div>
                    <!--BUTTONS-->

                </div>
            </div>

        </div>
    </div>
    <div th:replace="fragments/add :: add"></div>


    <div  style="margin: 30px;">
        <h2>Find a note</h2>
    </div>




</div>
</div>
</body>
</html>