<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head"></head>
<body>
    <div class="form-container">
        <h3 class="text-center">New account</h3>
        <br/>
        <form th:action="@{/register}" th:object="${user}" method="post" action="/register" autocomplete="off">
            <label>Login</label>
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-user"></i></span>
                <input class="form-control" type="text" name="login" placeholder="type login" required autocomplete="off"/>
            </div>
            <label><br>Password</label>
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-lock"></i></span>
                <input class="form-control" type="password" name="password" placeholder="enter password" required/>
            </div>
            <label><br>Confirm password</label>
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-lock"></i></span>
                <input class="form-control" type="password" placeholder="enter password again" required/>
            </div>
            <button class="btn btn-sm btn-success m-2" type="submit">Register</button>
        </form>
        Already have an account? <a href="login">Sign in</a>
    </div>
</body>
</html>